<div class="jumbotron jumbotron-fluid bg-dark">
  <div class="jumbotron-background">
    <img src="../../../assets/jumbotron-image.jpg" class="blur" />
  </div>

  <div class="container text-white">
    <h1 class="display-4">
      Welcome to <span class="sub-title"><b>B-Tracker</b></span>
    </h1>
    <p class="lead">
      B-Tracker is a bug tracking tool which gives interface to users to log and
      maintain list of trackers in your application. Use B-tracker to track,
      organize, and prioritize your bugs. Click on sign in to continue
    </p>
    <hr class="my-4" />
    <p>
      It uses utility classes for typography and spacing to space content out
      within the larger container.
    </p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </div>
</div>

<div class='cards'>
<app-card name="Register" image="../../assets/RegisterForm.png"  description="Register with us by providing your valid credentils "></app-card>
<app-card name="Create and assign trackers" image="../../assets/Dashboard.png"  description="In Dashboard, you can create and view existing trackers assigned to you"></app-card>
<app-card name="Change status" image="../../assets/viewTracker.png"  description="You can change the status of the bug any time"></app-card>
</div>
<app-footer></app-footer>