.create-bug {
  background-color: #d6e4ed;

  margin-left: 20vw;
  margin-right: 20vw;
  border: 1px solid #aaaaaa;
}
.center_div {
  margin: 0 auto;
  width: 50%;
}
.select-btn {
  padding-top: 2vh;
  width: 8%;
  margin-left: 4vw;
}
.title {
  padding-top: 2vh;
}
.title-input {
  padding-top: 2vh;
  padding-left: 4vw;
  padding-right: 4vw;
}
.attachment {
  padding-right: 4vw;
  padding-left: 4vw;
  width: 30vw;
}
.assignee-name {
  padding-left: 4vw;
  width: 20vw;
  margin-bottom: 2vh;
}
.submit {
  margin-top: 2vh;
  margin-left: 45vw;

  width: 10vw;
}
.coll {
  background-color: #343a40;
  margin-left: 20vw;
  margin-right: 20vw;
  color: rgb(238, 238, 238) !important;
}
.general-sec {
  color: #d6e4ed;
}
.advanced-input {
  color: #343a40;
}
.btn-color {
  margin-right: 5vw;
  background-color:#343a40 !important;
  color: aliceblue !important;
}
.saveclose{
  margin-left: 35vw;
  margin-right: 35vw;
}
button-grp {
  margin-top: 40px;
}
.mr {
 
  margin-left: 40vw;
}
.btn-view{
  margin-top: 15vh !important;
}
.assignee-desk{
  margin-right: 40vw;
  padding-top: 2vh;
  margin-left: 4vw;
  margin-bottom: 3vh;
 
}

@media(min-width:0px) and (max-width:760px) {

  .btn-view{
    margin-top: 15vh !important;
    margin-right: 15vw;
    width: 100%;
  }
  .mr {
 
    margin-left: 3vw;
  }
  .create-bug {
    background-color: #ffffff;
  color:#000000 !important;
    margin-left: 2vw;
    margin-right: 2vw;
    border: 1px solid #aaaaaa;
  }
  .coll {
    background-color: #343a40;
    margin-left: 2vw;
    margin-right: 2vw;
    color: #000000 !important;
  }

 .test{
   color: black;
 }
.priority-mob{
  height: 50px;
  color:black;
  padding-left: 10vw;
margin-bottom: 2vh;


}
.advanced-input {
  color: #343a40;
padding-right: 6vw;
padding-left: 6vw
}
.attachment {
  padding-right: 2vw;
  padding-left: 2vw;
  width: 60vw;
}
}









