<div id="accordion">
  <div class="card">
    <div class="card-header coll" id="headingOne">
      <h5 class="mb-0">
        <button
          class="btn general-sec dropdown-toggle"
          data-toggle="collapse"
          data-target="#collapseOne"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          General
        </button>
      </h5>
    </div>
    <div
      id="collapseOne"
      class="collapse show"
      aria-labelledby="headingOne"
      data-parent="#accordion"
    >
      <div class="create-bug">
        <div class="form-group title-input">
          <label class="title" for="Title">Title</label>
          <input
            type="email"
            class="form-control"
            id="Title"
            aria-describedby="emailHelp"
            placeholder="Overview of bug"
          />
          <div class="form-group">
            <label for="comment">Description:</label>

            <textarea
              class="form-control"
              rows="5"
              id="comment"
              placeholder="Add bug description here"
            ></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-header coll" id="headingTwo">
    <h5 class="mb-0">
      <button
        class="btn general-sec dropdown-toggle"
        data-toggle="collapse"
        data-target="#collapseTwo"
        aria-expanded="false"
        aria-controls="collapseTwo"
      >
        Advanced
      </button>
    </h5>
  </div>
  <div
    id="collapseTwo"
    class="collapse show"
    aria-labelledby="headingTwo"
    data-parent="#accordion"
  >
    <div class="create-bug">
      <div class="advanced-input">
        <div class="select-btn">
          <label for="comment">Priority:</label>
          <br />
          <select class="browser-default custom-select">
            <option value="1">P1</option>
            <option value="2">P2</option>
            <option value="3">P3</option>
          </select>
          <br />
        </div>
        <div class="attachment">
        
          <form>
            <div class="form-group">
              <label for="comment">Upload Attachment:</label>
              <input
                type="file"
                class="form-control-file"
                id="exampleFormControlFile1"
              />
            </div>
          </form>
        </div>
      
      </div>
      <div class="assignee-name">
        <label for="assignee">Assignee</label>
        <input type="email" class="form-control" id="assignee" />
      </div>
    </div>
   
    <!-- 

<div class="create-bug">
    <div class="container">
    <form >
     
    <div class="form-group">
      <label class="title" for="Title">Title</label>
      <input
        type="email"
        class="form-control"
        id="Title"
        aria-describedby="emailHelp"
        placeholder="Overview of bug"
      />
      <div class="form-group">
        <label for="comment">Discription:</label>
        <textarea class="form-control" rows="5" id="comment"></textarea>
      </div>
    </div>
  
    <label for="comment">Priority:</label>
    <br/>
    <select class="browser-default custom-select select-btn">
       
        <option value="1">P1</option>
        <option value="2">P2</option>
        <option value="3">P3</option>
      </select>
      <br/>
      <label for="comment">Upload Attachment:</label>
      <div class="input-group mb-3 attachment">
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="inputGroupFile02">
          <label class="custom-file-label" for="inputGroupFile02">Choose file</label>
        </div>
        <div class="input-group-append">
          <span class="input-group-text" id="">Upload</span>
        </div>
      </div>
      <div class="assignee">
      <label for="assignee">Assignee</label>
      <input
        type="email"
        class="form-control"
        id="assignee"
     
       
      />
    </div>
    <button type="submit" class="btn btn-primary submit">Submit</button>
  </form>
  </div>
</div> -->
  </div>
  <button type="submit" class="btn btn-primary submit" [routerLink]="['/dashboard']">Create</button>
</div>
