<app-navbar></app-navbar>
<div class="wrapper fadeInDown form-login">
  <div id="formContent">
    <div class="fadeIn first">
      <img src="../../../assets/login-icon.png" id="icon" alt="User Icon" />
    </div>
    <form
      #loginForm="ngForm"
      (ngSubmit)="onSubmit(loginForm.value)"
      class="loginForm"
    >
      <input
        type="text"
        id="login"
        ngModel
        class="fadeIn second"
        name="email"
        placeholder="Enter Email ID"
        [email]="true"
        ng-required
      />
      <input
        *ngIf="notFp"
        type="password"
        id="login"
        class="fadeIn third"
        name="password"
        ngModel
        placeholder="Enter Password"
        ng-required
      />
      <input *ngIf="notFp" type="submit" class="fadeIn fourth" value="Log In" />
      <div *ngIf="!notFp">
        <br />
        <input type="submit" class="btn btn-info" value="Reset Password" />
        <br /><br />
      </div>
    </form>
    <div id="formFooter" *ngIf="notFp">
      <a class="underlineHover" [routerLink]="['/signup']"
        >click here to <b class="signup">Signup</b></a
      >
    </div>

    <div id="formFooter" *ngIf="notFp">
      <a class="underlineHover" (click)="forgotPasswordOnClick()"
        >Forgot Password?</a
      >
    </div>
    <div id="formFooter" *ngIf="!notFp">
      <a class="underlineHover" (click)="revertFpOnClick()">Login</a>
    </div>
  </div>
</div>
<ngx-spinner></ngx-spinner>
<router-outlet></router-outlet>
