<div class="wrapper fadeInDown">
  <div id="formContent">
    <div class="fadeIn first">
      <img src="../../../assets/login-icon.png" id="icon" alt="User Icon" />
    </div>

    <form>
      <input
        type="text"
        id="login"
        class="fadeIn second"
        name="login"
        placeholder="Enter Email ID"
      />
      <input
        type="text"
        id="password"
        class="fadeIn third"
        name="login"
        placeholder="Enter Password"
      />
      <input
        type="submit"
        class="fadeIn fourth"
        [routerLink]="['/dashboard']"
        value="Log In"
      />
    </form>
    <div id="formFooter">
      <a class="underlineHover" [routerLink]="['/signup']"
        >click here to <b class="signup">Signup</b></a
      >
    </div>

    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
