<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticktotop">
 
      <div class="navbar-header">
        <a class="navbar-brand dont-pad-me" href="#">
          <img
            src="../../../assets/logoHD.png"
            class="img-fluid"
            alt=""
          /><br />
        </a>
      </div>
      
   
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <app-logout isMobile='false'></app-logout>
          </ul>
        </div>
        <ul class="nav navbar-nav pull-left ml-auto d-xl-none d-lg-none" style="max-height: 5vh;">
          <app-logout isMobile="true"></app-logout>
      </ul>
  </nav>
</body>
