.create-bug {
  background-color: #d6e4ed;

  margin-left: 20vw;
  margin-right: 20vw;
  border: 1px solid #aaaaaa;
}

.center_div {
  margin: 0 auto;
  width: 50%;
}
.select-btn {
  padding-top: 2vh;
  width: 8%;
  margin-left: 4vw;
}
.title {
  padding-top: 2vh;
}
.title-input {
  padding-top: 2vh;
  padding-left: 4vw;
  padding-right: 4vw;
}
.attachment {
  padding-right: 4vw;
  padding-left: 4vw;
  width: 30vw;
}
.assignee-name {
  padding-left: 4vw;
  width: 20vw;
  margin-bottom: 2vh;
}
.submit {
  margin-top: 2vh;
  margin-left: 45vw;

  width: 10vw;
}
.coll {
  background-color: #343a40;
  margin-left: 20vw;
  margin-right: 20vw;
  color: rgb(238, 238, 238) !important;
}
.general-sec {
  color: #d6e4ed;
}
.advanced-input {
  color: #343a40;
}
.btn-color {
  background-color: transparent !important;
}
button-grp {
  margin-top: 40px;
}
.mr {
  margin-left: 20vw;
}
.mr2{
  margin-left: 40vw;
}
.btn-view{
  margin-top: 15vh !important;
}
.assignee-desk{
  margin-right: 40vw;
  padding-top: 2vh;
  margin-left: 4vw;
  margin-bottom: 3vh;
 
}
.comment{
  margin-top: 2vh;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-bottom: 1vh;
}
.comment-cards{
  margin-left: 20vw;
  margin-right: 20vw;
  display: flex;
  background-color: #d6e4ed;
    flex-direction: column;
    max-height: 60vh;
    overflow: auto;
}
.comment-input{
  margin-left: 20vw;
  background-color: #faf8ff;
width: 60%;
margin-bottom: 10vw;
border: grey;
}
.user-name{
  color: #0e19b6;

}
.view-com{
  text-decoration: underline;
  margin-right: 20vw;
  margin-left: 20vw;

}
.card-space{
  border: 0.1pc solid grey;
   border-width: thin;
   border-radius: 2px;
 }
 * {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
 
}
.row{
  background-color: #fafafa;
  border: 1px black;
}



@media(min-width:0px) and (max-width:760px) {
.card-space{
 border: 0.1pc solid grey;
  border-width: thin;
  border-radius: 2px;
}
  .btn-view{
    margin-top: 15vh !important;
  
    width: 100%;
  }
  .mr {
 
margin-left: 6vw;
margin-bottom: 6vw;
  }
  .mr2{
    margin-left: 6vw;
    margin-bottom: 6vw;
  }
  .create-bug {
    background-color: #ffffff;
  color:#000000 !important;
    margin-left: 2vw;
    margin-right: 2vw;
    border: 1px solid #aaaaaa;
  }
  .coll {
    background-color: #343a40;
    margin-left: 2vw;
    margin-right: 2vw;
    color: #000000 !important;
  }

 .test{
   color: black;
 }
.priority-mob{
  height: 50px;
  color:black;
  padding-left: 10vw;
margin-bottom: 2vh;


}
.advanced-input {
  color: #343a40;
padding-right: 6vw;
padding-left: 6vw
}
.attachment {
  padding-right: 2vw;
  padding-left: 2vw;
  width: 60vw;
}
.comment{
  margin-top: 2vh;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-bottom: 1vh;
}
.comment-cards{
  margin-left: 2vh;
  margin-right: 2vh;
  display: flex;
  background-color: #faf8ff;
    flex-direction: column;
    max-height: 50vh;
    overflow: auto;
}
.comment-input{
  width: 97%;
  margin-left: 8vw;
  margin-bottom: 1px !important;
  background-color: #faf8ff;
}
.combtn{
  color: #343a40;
}
@media(min-width:790px) {
  .watch-sec{
    
    margin-left: 20vw;
  margin-right: 20vw;
  }

}

@media(min-width:0px) and (max-width:760px) {
  .watch-issue{
    padding-left: 2vw;
    margin-right: 2vw;
  }

}
}









