<div class="wrapper fadeInDown signp-form">
  <div id="formContent">
    <div class="fadeIn first">
      <img src="../../../assets/signup.png" id="icon" alt="User Icon" />
    </div>

    <form #signupvalues="ngForm" (ngSubmit)="onSubmit(signupvalues.value)" >
      <input
        type="text"
        id="login"
        class="fadeIn second"
        name="email"
        placeholder=" Email Address"
        ngModel
        ng-required
      />
      <input
        type="text"
        id="password"
        class="fadeIn third"
        name="name"
        placeholder=" Full name"
        ngModel
        ng-required
      />
      <input
        type="text"
        id="password"
        class="fadeIn third"
        name="phoneno"
        placeholder="Mobile number"
        ngModel
        ng-required
      />
      <input
        type="password"
        id="password"
        class="fadeIn third"
        name="password"
        placeholder="Create password"
        ngModel
        ng-required
      />

      <input type="submit" class="fadeIn fourth" value="Signup" />
    </form>
    <div id="formFooter">
      <a class="underlineHover" [routerLink]="['/signin']"
        >Already have an account?   <b class="signup"> Login</b></a
      >
    </div>
  </div>
</div>
<ngx-spinner></ngx-spinner>
<router-outlet></router-outlet>
