<div class="wrapper fadeInDown">
  <div id="formContent">
    <div class="fadeIn first">
      <img src="../../../assets/signup.png" id="icon" alt="User Icon" />
    </div>

    <form #signupvalues="ngForm" (ngSubmit)="onSubmit(signupvalues.value)">
      <input
        type="text"
        id="login"
        class="fadeIn second"
        name="email"
        placeholder=" email Address"
        ngModel
      />
      <input
        type="text"
        id="password"
        class="fadeIn third"
        name="name"
        placeholder=" Full name"
        ngModel
      />
      <input
        type="text"
        id="password"
        class="fadeIn third"
        name="phoneno"
        placeholder="Mobile number"
        ngModel
      />
      <input
        type="text"
        id="password"
        class="fadeIn third"
        name="password"
        placeholder="Create password"
        ngModel
      />

      <input type="submit" class="fadeIn fourth" value="Signup" />
    </form>
  </div>
</div>
<router-outlet></router-outlet>
