<div class="wrapper fadeInDown">
    <div id="formContent">
      <div class="fadeIn first">
        <img src="../../../assets/signup.png" id="icon" alt="User Icon" />
      </div>
  
      <form>
        <input
          type="text"
          id="login"
          class="fadeIn second"
          name="login"
          placeholder=" email Address"
        />
        <input
        type="text"
        id="password"
        class="fadeIn third"
        name="login"
        placeholder=" Full name"
      />
      <input
      type="text"
      id="password"
      class="fadeIn third"
      name="login"
      placeholder="Mobile number"
    />
        <input
          type="text"
          id="password"
          class="fadeIn third"
          name="login"
          placeholder="Create password"
        />
   
        <input type="submit" class="fadeIn fourth" value="Signup" />
      </form>
    
     
    </div>
  </div>
  