<div class = "foot">
    <footer class="footer-distributed">
        <div class="footer-left">
          <h3>B<span>Tracker</span></h3>

        </div>
      
        <div class="footer-center">
          <div>
            <i class="fa fa-map-marker"></i>
            <p><span>This website is devoloped by </span>Kalyan Veenam</p>
          </div> 
      
          <div>
            <i class="fa fa-phone"></i>
            <p>+91 9959807730</p><br>
          
          </div>
      
        </div>
      
        <div class="footer-right">
        
       
        </div>
      </footer>
    </div>