.btn-color {
  background-color: rgb(209, 209, 243) !important;
}
.btn-color:hover {
  background-color: rgb(162, 162, 185) !important;
}
.searchandbuttons{
  margin-top: 15vh;
}
.link-view:hover{
color: rgb(2, 2, 112);
}